<% @users.each do |user| %>
	<% unless user == current_user %>
		<p><%= link_to user.name, user_path(user) %></p>
	<% end %>
<% end %>

<% if logged_in? %>
	<%= link_to "Log Out", logout_path%>
<% else %>
	<%= link_to "Log in", login_path %>
<% end %>
